.App {
  text-align: center;
}
.background {
  background-image: url(shoes.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.test {
  color: blue;
}
.yas {
  font-size: 6px;
}